.modal {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    position: absolute;
    max-width: 400px;
    min-width: 300px;
    height: 300px;
    background-color: var(--dark);
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 15px;
    z-index: 10;
    padding: 0.6rem 1.5rem;
    animation: ease 1s turn-on;

}

.turnOff {
    opacity: 0;
    translate: -50% -75%;
    animation: ease 1s turn-off;
}

.close {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

@keyframes turn-on {
    0% {
        opacity: 75%;
        translate: -50% -75%;
    }

    100% {
        opacity: 100%;
        translate: -50% -50%;
    }
}

@keyframes turn-off {
    0% {
        opacity: 100%;
        translate: -50% -50%;
    }

    100% {
        opacity: 0;
        translate: -50% -75%;
    }
}