.keyboard {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 512px) {
    .keyboard {
        gap: 5px;
    }

    .row {
        gap: 5px;
    }
}