.keyboard {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 512px) {
    .keyboard {
        gap: 4px;
    }

    .row {
        gap: 4px;
    }
}