.field {
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
    border: 2px solid #ffffff;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.perfect {
    background-color: #47A025;
}

.good {
    background-color: #F4D35E;
}