.keyboard {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}