:root {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    font-weight: 400;

    --dark: #242424;
    --gray: #7b857e;
    --gray-light: #8c968f;
    --gray-dark: #6a746d;
    --gray-very-dark: #444B4A;
    --green: #427629;
    --yellow: #9E8F1C;
    --white: rgba(255, 255, 255, 0.87);
    --blue: #5bc0eb;
    --green-light: #9BC53D;
    --pink: #EF476F;

    color-scheme: light dark;
    color: var(--white);
    background-color: var(--dark);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
